# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# Build artifacts
.gradle-dist/
.jdk17/
gradle-8.2-bin.zip

# Kotlin
*.kotlin_module

# OS
Thumbs.db
Desktop.ini

# Screenshots
screenshots/
